
  <!-- Table -->
  <table class="table">
    <tr>
    	<th> Nom</th>
    	<th> Email</th>
    	<th> </th>
    	<th> </th>
    	<th> </th>
    </tr>
    <tr ng-repeat="user in users">
    	<td>{{ user.name }}</td>
    	<td>{{ user.tel }}</td>
    	<td><a href="/#!/user/show/{{user.uniqueId}}"><img src="/web/images/show.png" alt="Voir utilisateur"/></a></td>

    	<td><a href="/#!/user/edit/{{user.uniqueId}}">Modifier utilisatuer</a></td>

        <td><a href="" ng-click="deleteOne(user)"><img src="/web/images/delete.png" alt="Supprimer  utilisateur"/></a></td>

    </tr>
  </table>